/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme static {
  --color-primary: #ffb627;
  --color-secondary: #1b2a41;
  --color-alternative: #0b8457;
}

@layer base {
  body {
    @apply bg-white text-secondary;
  }

  h1 {
    @apply text-3xl font-bold tracking-tight;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply leading-relaxed;
  }
}
